* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
}
li {
  letter-spacing: normal;
}
.box1 {
  width: 100%;
}
.box1 img {
  width: 100%;
}
.active {
  position: fixed;
  top: 0;
}
.active1 {
  position: fixed;
  height: 80px;
  width: 800px;
  top: 8px !important;
  left: 0;
  right: 0;
  margin: auto;
}
.abs {
  position: absolute;
}
.abs1 {
  position: absolute;
  top: 54px;
  left: 0;
  right: 0;
  margin: auto;
}
.box2 {
  width: 100%;
  position: relative;
}
.box2 img {
  width: 100%;
}
.box2 .con_nav1 {
  top: -50px;
  margin: auto;
  z-index: 9999;
}
.box2 .con_nav1 ul {
  height: 80px;
  width: 800px;
  top: 54px;
  left: 0;
  right: 0;
  margin: auto;
}
.box2 .con_nav1 ul li {
  z-index: 99999;
  margin-left: 30px;
  display: inline-block;
  width: 100px;
  height: 40px;
}
.box2 .con_nav1 ul li:nth-child(n+2) {
  margin-left: 54px;
}
.box2 .list1 {
  width: 1114px;
  left: 0;
  right: 0;
  margin: auto;
  height: 793px;
  position: absolute;
  top: 47px;
}
.box2 .list1 li {
  position: relative;
  width: 276px;
  height: 560px;
  overflow: hidden;
  float: left;
}
.box2 .list1 li .text {
  width: 825px;
  height: 555px;
  float: left;
  background-color: #191D22;
  text-align: center;
}
.box2 .list1 li .text img {
  width: 568px;
  height: 294px;
}
.box2 .list1 li .text .gx {
  width: 100px;
  height: 120px;
}
.box2 .list1 li .text .g1 {
  float: left;
  width: 862px;
  height: 225px;
  background: url(../images/gs_text.png) no-repeat;
  background-position: 46px -14px;
  background-size: 78%;
}
.box2 .list1 li .text .g2 {
  float: left;
  width: 862px;
  height: 225px;
  background: url(../images/gs_text.png) no-repeat;
  background-position: 46px -206px;
  background-size: 78%;
}
.box2 .list1 li .text .g3 {
  float: left;
  width: 806px;
  height: 201px;
  background: url(../images/gs_text.png) no-repeat;
  background-position: 46px -381px;
  background-size: 78%;
}
.box2 .list1 li .text .g4 {
  float: left;
  width: 806px;
  height: 201px;
  background: url(../images/gs_text.png) no-repeat;
  background-position: 42px -544px;
  background-size: 78%;
}
.box2 .list1 li .text1 {
  float: left;
}
.box2 .list1 li .gs1 {
  background-image: url(../images/gs_list1.jpg);
  background-size: cover;
  display: inline-block;
  height: 556px;
  width: 276px;
}
.box2 .list1 li .gs2 {
  background-image: url(../images/gs_list2.jpg);
  background-size: cover;
  display: inline-block;
  height: 556px;
  width: 276px;
}
.box2 .list1 li .gs3 {
  background-image: url(../images/gs_list3.jpg);
  background-size: cover;
  display: inline-block;
  height: 556px;
  width: 276px;
}
.box2 .list1 li .gs4 {
  background-image: url(../images/gs_list4.jpg);
  background-size: cover;
  display: inline-block;
  height: 556px;
  width: 276px;
}
.box3 {
  width: 100%;
}
.box3 img {
  width: 100%;
}
.box4 {
  position: relative;
}
.box4 .bg4 {
  width: 100%;
}
.box4 .roll {
  position: absolute;
}
.box4 .swiper-slide img {
  width: 480px;
  height: 260px;
}
.box4 .swiper-slide p img {
  height: 100%;
}
.box5 {
  width: 100%;
}
.box5 img {
  width: 100%;
}
.box6 {
  width: 100%;
  background: url(../images/con_bg6.jpg) no-repeat center;
  background-size: 100%;
}
.box6 img {
  width: 100%;
}
.box6 .logo {
  width: 100%;
  height: 467px;
  background: url(../images/logo.png) no-repeat center;
  background-size: 100%;
}
