.top {
  height: 38px;
  margin-bottom: 5px;
  background-color: #fff;
}
.top .w {
  line-height: 38px;
}
.top .w div {
  margin-left: 112px;
  font-size: 14px;
  position: relative;
}
.top .w div .logo {
  margin-right: 10px;
}
.top .w div .logo,
.top .w div .shu,
.top .w div .zao {
  position: relative;
  z-index: 999;
}
.top .w div .shu {
  color: #d2d7e3;
  margin-left: 10px;
  margin-right: 20px;
}
.top .w div img {
  vertical-align: middle;
}
.top .w div .jinian {
  height: 38px;
  width: 167px;
}
.top .w div .fr {
  margin-right: 100px;
}
.top .w div .fr .tx {
  margin-left: 28px;
}
.top .w div .song {
  display: none;
  position: absolute;
  top: 0;
  z-index: 1;
  left: -98px;
}
.banner {
  height: 620px;
  width: 100%;
  position: relative;
  background: url(../imgs/17387102732315.jpg) center top;
}
.banner .nav {
  height: 80px;
  background-color: rgba(0, 0, 0, 0.8);
}
.banner .nav .daohang img {
  margin-top: 15px;
}
.banner .nav .daohang a {
  display: inline-block;
  height: 77px;
  padding: 0 10px;
  margin-left: 25px;
  text-align: center;
  color: #c9c9dd;
}
.banner .nav .daohang a h3 {
  font-weight: 400;
  line-height: 50px;
  font-size: 18px;
}
.banner .nav .daohang a p {
  font-size: 12px;
}
.banner .jieshao {
  display: none;
  padding-left: 440px;
  background-color: rgba(0, 0, 0, 0.8);
  height: 300px;
}
.banner .jieshao dl {
  float: left;
  text-align: center;
  margin-right: 60px;
  padding-top: 20px;
  font-size: 14px;
  line-height: 30px;
}
.banner .jieshao dl a {
  color: #c9c9dd;
}
.banner .jieshao dl a:hover {
  border-bottom: 1px solid gold ;
}
.banner .free .w {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.banner .free .left {
  width: 730px;
  height: 115px;
  padding: 0 20px;
  background-color: #13395e;
  bottom: 0;
  left: 0;
}
.banner .free .left h5 {
  color: #a6afbc;
  font-size: 14px;
  margin: 10px 0;
}
.banner .free .left .zm img {
  height: 68px;
  width: 68px;
}
.banner .free .left .zm span img {
  height: 70px;
  width: 220px;
  display: none;
}
.banner .free .left .zm .fr {
  width: 16px;
  font-size: 14px;
  color: #626a7a;
}
.banner .free .right {
  height: 115px;
  width: 426px;
  background-color: #124e7a;
  bottom: 0;
  right: 0;
  position: relative;
  color: #b3bbc5;
  text-align: center;
  line-height: 115px;
}
.banner .free .right img {
  position: absolute;
  left: 10px;
  top: -5px;
}
.banner .free .right a {
  color: #8ea0b0;
}
.content .first {
  margin: 40px 0;
}
.content .first img {
  vertical-align: middle;
}
.content .first a {
  color: #363636;
  text-decoration: underline;
  margin-left: 6px;
}
.content .first span {
  margin-left: 10px;
}
.content .second img {
  vertical-align: middle;
  margin-right: 6px;
}
.content .fenge a {
  display: inline-block;
  width: 395px;
  text-align: center;
  color: #4b4b4b;
  border-bottom: 3px solid #d4d4d4;
  margin-top: 26px;
  padding-bottom: 5px;
}
.content .fenge a:nth-child(1) {
  color: #3589dd;
  border-bottom: 3px solid #3589dd;
}
.hero {
  border: 2px solid #e8e8e8;
  border-top: 0px solid #e8e8e8;
  padding-bottom: 70px;
}
.hero .zonghe {
  width: 1140px;
  height: 106px;
  margin-left: 26px;
  padding-top: 35px;
  font-size: 18px;
}
.hero .zonghe .zuo {
  width: 80px;
  height: 106px;
  background-color: #2c88e2;
  line-height: 53px;
  text-align: center;
  color: #fff;
}
.hero .zonghe .you {
  width: 1058px;
  height: 106px;
  background-color: #efefef;
  font-size: 16px;
  line-height: 53px;
}
.hero .zonghe .you div {
  margin-left: 15px;
}
.hero .zonghe .you div li:last-child {
  position: relative;
}
.hero .zonghe .you div li {
  float: left;
  width: 106px;
}
.hero .zonghe .you div li input[type="radio"] {
  width: 20px;
  height: 20px;
  color: #2c88e2;
}
.hero .zonghe .you div li input[type="text"] {
  width: 210px;
  height: 42px;
  background-color: #efefef;
  border: 1px solid #d2d2d2;
  font-size: 12px;
  padding: 0 10px;
}
.hero .zonghe .you div li span {
  display: inline-block;
  position: absolute;
  right: -110px;
  top: 20px;
  bottom: 10px;
  width: 20px;
  height: 18px;
  background: url(../imgs/spr.png) -328px -85px;
  color: #afafaf;
}
.hero .list {
  width: 1140px;
  margin-left: 26px;
  margin-top: 40px;
}
.hero .list li {
  float: left;
  margin-right: 28px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}
.hero .list li img {
  height: 86px;
  width: 86px;
  border: 1px solid #2c88e2;
}
.hero .list .mr0 {
  margin-right: 0;
}
.hero .list .tk,
.hero .list .zs,
.hero .list .ck,
.hero .list .fs,
.hero .list .ss,
.hero .list .fz {
  display: none;
}
.bottom {
  height: 364px;
  margin-top: 50px;
  background: url(../imgs/bg_footer.jpg) center;
}
.bottom img {
  margin-top: 90px;
  margin-bottom: 20px;
}
.bottom .line {
  border-top: 2px solid #d4d4d4;
  font-size: 12px;
  line-height: 22px;
}
.bottom .line h5 {
  margin-top: 10px;
}
.bottom .line .btm-l {
  width: 510px;
  margin-right: 30px;
  color: #6d6d6d;
}
.bottom .line .btm-r {
  width: 652px;
  color: #6d6d6d;
}
.bottom .line .btm-r p:nth-child(4) {
  position: relative;
}
.bottom .line .btm-r p:nth-child(4) span {
  content: "";
  position: absolute;
  width: 17px;
  height: 20px;
  background: url(../imgs/spr.png) -95px -33px;
  background-size: 177px;
}
